@font-face {
    font-family: 'Dots';
    src: url(./addins/fonts/JeanSunHo.ttf);
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    background-image: linear-gradient(to right, gray, white);
    margin: 0%;
}
input{
    border-radius: 18px;
    border: 1px solid gray;
    width: 50vw;
    height: 5vh;
    text-align: center;
    -webkit-text-stroke-width: 1.5px;
    font-size: 275%;
    font-family: 'Dots';
    margin-top: 5vh;
}
.main-display{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 40vw;
    border-radius: 12px;
    border: solid black 1px;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    font-size: 4vw;
}